/* header section style */
header {
    /* width: 1270px; */
    /* height: 770px; */

    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 200px 230px 76px 770px;
}

.header-title {
    color: #151414;
    text-align: right font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



#btn {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    /* width: 160px; */
    /* height: 64px; */
    font-size: 20px;
    font-weight: 700;
    
}