/* common style */
*{
    margin:0px;
}
body {
    font-family: 'Open Sans', sans-serif;
}


/* header section style */
header {
    /* width: 1270px; */
    /* height: 770px; */

    background-image: url('../images/banner/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 200px 230px 76px 770px;
}

.header-title {
    color: #151414;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#btn {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;


}
/* fail section style */

.fail {
    background: #ffffff;
    width: auto;
    height:auto;
    background-image: url('../images/person.png');
    background-repeat: no-repeat;
}
#parahraph{
    display: flex;
    flex-direction: column;
    width: 450px;
}
.main{
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 200px 230px 76px 770px;
}
/* My plan section style */
.my-plan-title{
    text-align: center;
}
.habit-container{
    display: flex;
}